.custom-slide {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2em;
}

.custom-slide .left,
.custom-slide .right {
  width: 48%;
}

.custom-slide .right img {
  width: 100%;
}
